body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#content {
  padding-top: 60px;
}

#header div {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
  width: calc(100% / 3);
}

#header .ph {
  font-size: 24px;
}

#navbar {
  background-color: white;
  box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.06);
}

#navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
}

#navbar li {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

#navbar .ph,
#navbar .ph-fill {
  font-size: 24px;
}

.gray-1 {
  color: #c5c5c5;
}

.active {
  color: #ffcd00;
}

#drawer {
  box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

#profile .ph {
  font-size: 38px;
  color: #ffcd00;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}